In [1]:
import pandas as pd

In [7]:
try:
    data_contract = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\contract.csv")
    data_internet = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\internet.csv")
    data_personal = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\personal.csv")
    data_phone = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\phone.csv")
except:
    data_contract = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\contract.csv")
    data_internet = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\internet.csv")
    data_personal = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\personal.csv")
    data_phone = pd.read_csv(r"C:\Users\Jorge Armando\Desktop\Curso Data Science\Telecom_churn_rate\final_provider\phone.csv")

In [26]:
data_contract.info()
data_contract.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
1539,5071-FBJFS,2019-10-01,No,Month-to-month,No,Electronic check,50.30,217.1
2094,1057-FOGLZ,2018-08-01,No,Month-to-month,No,Mailed check,19.65,391.7
5336,9441-QHEVC,2020-01-01,No,Month-to-month,No,Mailed check,19.10,19.1
762,7379-POKDZ,2019-07-01,2019-10-01 00:00:00,Month-to-month,Yes,Electronic check,70.30,208.85
5567,8133-ANHHJ,2016-01-01,No,One year,No,Bank transfer (automatic),103.00,5166.2

In [28]:
data_internet.info()
data_internet.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
453,3716-UVSPD,DSL,No,No,No,Yes,No,No
5232,4566-NECEV,Fiber optic,No,Yes,Yes,No,No,Yes
3438,0257-KXZGU,DSL,No,Yes,Yes,No,No,No
1736,7216-EWTRS,Fiber optic,No,No,Yes,No,Yes,Yes
3925,6101-IMRMM,Fiber optic,No,No,Yes,No,Yes,Yes

In [49]:
data_personal.info()
data_personal.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

      customerID  gender  SeniorCitizen Partner Dependents
1806  8966-KZXXA    Male              0     Yes        Yes
3982  9365-CSLBQ    Male              0      No        Yes
2378  2884-GBPFB  Female              0     Yes         No
5440  4456-RHSNB  Female              0     Yes        Yes
3858  0840-DCNZE    Male              0      No         No

In [50]:
data_phone.info()
data_phone.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

      customerID MultipleLines
2744  2065-MMKGR           Yes
5911  5195-KPUNQ            No
4676  9874-QLCLH           Yes
6003  5474-LAMUQ            No
2926  4013-UBXWQ           Yes